{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}

	{% include "admin/menuDashboard.html.twig" %}
	<div class="d-flex align-items-center flex-column">
		<h2 class="text-center">Bienvenue
			<a href="{{path('app_profil', {'id':app.user.id})}}" class="pseudoDashboard">{{app.user.pseudo}}</a>
			<br>
			sur le Dashboard !
		</h2>
	</div>

{% endblock %}
