{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<!-- NavbarDashboard -->
	<a href="#" id="openBtnDashboard" class="menuBurgerDashboard">
		<i class="fa-solid fa-list"></i>
	</a>
	<div id="mySidenavDashboard" class="sidenavDashboard">
		<a id="closeBtnDashboard" href="#" class="closeDashboard">
			<i class="fa-solid fa-xmark"></i>
		</a>
		<div>
			<a href="{{path('app_add_video')}}">Vidéos</a>
		</div>
	</div>
	<!-- Fin NavbarDashboard -->

	{% include "admin/welcome.html.twig" %}

{% endblock %}
