<a href="#" id="openBtnDashboard" class="menuBurgerDashboard">
	<i class="fa-solid fa-list"></i>
</a>
<div id="mySidenavDashboard" class="sidenavDashboard">
	<a id="closeBtnDashboard" href="#" class="closeDashboard">
		<i class="fa-solid fa-xmark"></i>
	</a>
	<div>
		<a href="{{path('app_panel_videos')}}">Vidéos</a>
	</div>
</div>
