<a href="#" id="openBtnDashboard" class="menuBurgerDashboard">
	<i class="fa-solid fa-list"></i>
</a>
<div id="mySidenavDashboard" class="sidenavDashboard">
	<a id="closeBtnDashboard" href="#" class="closeDashboard">
		<i class="fa-solid fa-xmark"></i>
	</a>
	<div class="">
		<a href="{{path('app_panel_videos')}}">
			<i class="fa-solid fa-video me-3"></i>
			Vidéos</a>

		<a href="{{path('app_panel_comments')}}">
			<i class="fa-solid fa-comment me-3"></i>
			Commentaires</a>
	</div>
</div>
