body {
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: rgba(0, 0, 0, 0.568);
    padding: 0 15px;
}

nav h1 {
    color: white;
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

nav a {
    color: black;
}

nav a:focus {
    color: black;
}

h1 {
    margin-bottom: 0;
}

.homepage {
    display: flex;
    align-items: center;
}

.homepage img{
    width: 50px;
    margin-right: 5px;
}

.searchBar {
    display: flex;
    align-items: center;
}

.searchBar label {
    height: 37px;
    border-style:solid none solid solid;
    border-width: 2px;
    border-color: #55A5C4;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size:18px;
    background-color: #55A5C4;
    color: white;
}

.searchBar input[type=text]{
    height: 41px;
    font-size:18px;
    border-style: solid none solid solid;
    border-color: #55A5C4;
    color: white;
    padding-left: 5px;
    border-radius: 10px 0 0 10px;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    width: 25rem;
}

.searchBar input[type=text]::placeholder{
    color: rgb(214, 214, 214);
}

.searchBar button {
    width: 50px;
    height: 41px;
    border-style: solid solid solid none;
    border-color: #55A5C4;
    border-radius: 0 10px 10px 0;
    background-color: #55A5C4;
}

.fa-magnifying-glass {
    color: white;
}


#navAvatar{
    width: 70px;
    height: 70px;
    object-fit:fill;
    border-radius: 100%;
}

.navAccount {
    display: flex;
    justify-content: space-between;
}

#signIn, #signUp {
    color :#55A5C4;
    transition: .3s;
}

#signUp {
    margin: 0 20px;
}

#signIn:hover, #signUp:hover {
    color:rgb(110, 205, 243)
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    border: none;
    margin: 0 15px 25px 15px;
}

.pseudoLink {
    color: #212529;
}

.pseudoLink:hover {
    color: #77838f;
}

.card-body {
    padding-left: 0;
}

.imgAvatarVideo {
    width: 20%;
}

.imgAvatarVideoDetail {
    width: 8%;
}

.avatarVideo {
    width: 80%;
    border-radius: 100%;
}

.contentCardVideo {
    width: 100%;
}

.videoPlayer {
    width: 100%;
}

.videoDetail {
    width: 65%;
    margin-right: 25px;
}

.card .card-img-top{
    height: 275px;
    object-fit: cover;
}

.cardHover {
    overflow: hidden;
}

.cardHover .card-img-top {
    transition: transform 0.3s ease-in-out;
}

.cardHover.hovered .card-img-top {
    transform: scale(1.1);
}

.cardProfil {
    margin: 25px auto 0 auto;
    border: #55A5C4 1px solid;
    border-radius: 10px;
    width: 20%;
    text-align: center;
    padding: 15px;
}

.allVideos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.descriptionVideo {
    background-color: #d3d2d2;
    padding: 10px;
    border-radius: 10px;
}

.videoList {
    width: auto;
}

.cardTitleVideoList {
    font-size: 1.2rem;
    font-weight: 500;
}

.cardVideoList {
    height: 150px;
    margin-bottom: 25px;
}

.cardImgVideoList {
    width: 60%;
}

.imgVideoList {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.cardBodyVideoList {
    width: 40%;
    padding-left: 15px;
}

.imgAvatarComment {
    width: 5%;
}

.dateComment {
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-size: 0.8rem;
    font-weight: 100;
}

.containerComment {
    width: 100%;
}

.removeComment {
    position: absolute;
    right: 0;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    border: none;
    background: none;
}

.removeComment:hover {
    opacity: 1;
}

.removeComment:before, .removeComment:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 18px;
    width: 2px;
    background-color: #e40202;
}

.removeComment:before {
    transform: rotate(45deg);
}

.removeComment:after {
    transform: rotate(-45deg);
}

.pseudoDashboard {
    font-size: 2rem;
    color: #345d86;
}

.pseudoDashboard:hover {
    color: #2e3e4e;
}

@media screen and (max-width: 732px) {
    * {
        color: red !important;
    }
}